@model List<RVAS_Stripovi.Models.Rental>
@{
    ViewBag.Title = "Index";
}

<h2>Comicbook Rentals</h2>

@if (!Model.Any())
{
    <p> We dont have any comicbooks yet</p>
    <h3>Add a new Rental: @Html.ActionLink("Add", "New", "Rentals", null, new { @class = "btn btn-primary" })</h3>
}
else
{


    <link href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" />

    <table class="table table-bordered table-hover text-center" id="Rentals">
        <thead>
            <tr>
                <th class="text-center">Comicbook</th>
                <th class="text-center">Genre</th>
                <th class="text-center">Customer Name</th>
                <th class="text-center">Date Rented</th>
                <th class="text-center">Date Returned</th>
                <th class="text-center">Details & CRUD</th>

            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ComicBook.Name</td>
                    <td>@item.ComicBook.Genre.Name</td>
                    <td>@item.Customer.Name</td>
                    <td>@item.DateRented</td>
                    <td>@item.DueDate</td>
                    <td>

                        @Html.ActionLink("Details", "Details", "Rentals", new { id = item.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "Rentals", new { id = item.Id },
                        new { onclick = "return confirm('Are you sure you wish to delete this Rental?');" }) |
                        @Html.ActionLink("Edit", "Edit", "Rentals", new { id = item.Id }, null)
                        @if (item.DueDate == null)
                        {
                            <text> |</text> @Html.ActionLink("Return Comic", "AddDueDate", "Rentals", new { id = item.Id }, null)
                        }

                    </td>


                </tr>



            }
        </tbody>


    </table>

    <h3>Add a new Rental: @Html.ActionLink("Add", "New", "Rentals", null, new { @class = "btn btn-primary" })</h3>

}

@section scripts{
    <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script>

        $(document).ready(function () {
            $('#Rentals').DataTable();
        });


    </script>



}